# Sitio generado por MkDocs
site/

# Entornos virtuales de Python
.venv/
venv/

# Archivos temporales de Python
__pycache__/
*.py[cod]

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración local de editores
.vscode/
.idea/
